/* disable shadows for better android performance */
.ui-body-a,
.ui-bar-a,
.ui-btn-up-a,
.ui-btn-hover-a,
.ui-btn-down-a,

.ui-body-b,
.ui-bar-b,
.ui-btn-up-b,
.ui-btn-hover-b,
.ui-btn-down-b,

.ui-body-c,
.ui-bar-c,
.ui-btn-up-c,
.ui-btn-hover-c,
.ui-btn-down-c,

.ui-body-d,
.ui-bar-d,
.ui-btn-up-d,
.ui-btn-hover-d,
.ui-btn-down-d,

.ui-body-e,
.ui-bar-e,
.ui-btn-up-e,
.ui-btn-hover-e,
.ui-btn-down-e,

.ui-shadow-inset,
.ui-icon-shadow,
.ui-focus,
.ui-overlay-shadow,
.ui-shadow,
.ui-btn-active {
    text-shadow: none !important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
}
.ui-btn-inner{
	border-top:0px;
}
.ui-btn-up-c,.ui-btn-down-c,.ui-btn-hover-c{
	background:white;
	background-image:(webkit-linear-gradient:none);
}

/* Swipe works with mouse as well but often causes text selection. */
#home-page * {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

/* Arrow only buttons in the header. */

.main-section {
	padding-top: 30%
}

.submit-verify {
	padding-left: 30%;
	width: 40% !important;
}

.ui-post-authenticate-form {
	display: none;
}

::-webkit-input-placeholder {
	color: grey;
	font-style: italic;
}
.font-family-list{
	font-weight: normal;
	font-size: 14px;
	height: 60px;
}
.list-block:nth-child(1){
	width: 80%;
}
.list-block:nth-child(2){
	width: 9%;
}
.list-block:nth-child(3){
	width: 9%;
}
.charity{
	background-image: url("../images/donate.gif");
  	height: 60px;
  	background-repeat: no-repeat;
  	background-size:56%;
}
.list-block{
	display: inline-block;
}

.bold{
	font-weight: bold !important;
}
--------------------
/* Swipe works with mouse as well but often causes text selection. */
#home-page * {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

/* Arrow only buttons in the header. */
#home-page .ui-header .ui-btn {
	background: none;
	border: none;
	top: 9px;
}

#home-page .ui-header .ui-btn-inner {
	border: none;
}

.ui-panel-inner {
	padding: 0px;
}

#left-panel ul {
	margin: 0px;
}

.ui-authenticate-form,.ui-post-authenticate-form {
	padding: 20px 10px 20px 10px;
}

.form-child-1{
	
}

.invite-friend-page, .ui-authenticate-form, .ui-post-authenticate-form, .form-child-1, .form-child{
	border: 2px solid green;
}

.form-child-1, .form-child{
	padding: 20px;
}

#authentication-page .ui-block-a {
	width: 50% !important;
	padding: 10px ! important;
}

#authentication-page .ui-block-b {
	padding-top: 27px !important;
	width: 2% !important;
	font-weight: bold;
	text-align: center;
}

#authentication-page  .ui-block-c {
	padding: 10px !important;
	width: 40% !important;
}

#authentication-page  .ui-block-d {
	display: none;
	width: 8% !important;
	padding-top: 25px !important;
 	padding-left: 10px;
}

.submit-verify {
	padding-left: 30%;
	width: 40% !important;
}

.ui-post-authenticate-form {
	display: none;
}

::-webkit-input-placeholder {
	color: grey;
	font-style: italic;
}
.font-family-list {
	font-weight: normal;
	font-size: 14px;
	height: 60px;
}

.list-block:nth-child(1) {
	width: 80%;
}

.list-block:nth-child(2) {
	width: 9%;
}

.list-block:nth-child(3) {
	width: 9%;
}

.list-block {
	display: inline-block;
}

.child-99 {
	width: 99%;
	border: 1px solid black;
	padding: 10px;
	font-size: 20px;
}
.child-100 {
	width: 100%;
}

.child-50, .child-70, .child-30 {
	width: 48%;
	display: inline-block;
	line-height: 40 px;
}

a {
	cursor: pointer;
}

.line {
	height: 1px;
	background: brown;
	margin-left: -20px
}

.moredetail-child {
	height: 108px;
	display: none;
	padding: 10px;
	font-size: 12px;
}

.moredetail-child .child-50, .moredetail-child .child-70, .moredetail-child .child-30 {
	min-height: 20px;
}

.moredetail-child .line {
	padding: 0px;
}

.font-12 {
	font-size: 12px;
}

.text-align {
	text-align: center;
}

.bold {
	font-weight: bold;
}

.charity {
	background-image: url("../images/donate.gif");
	background-repeat: no-repeat;
	height: 40px;
	background-size: 7%;
	background-position: 50%;
}

.ratings {
	
}

.button {
	width: 60px;
	height: 30px;
	color: blue;
	text-decoration: none;
}

.form-divider-line {
	height: 25px;
	width: 100%;
	background: yellow;
	border: 2px solid green;
	margin-top: 35px;
	margin-bottom: 20px;
}

.form-border {
	border: 3px solid green;
	padding: 20px;
}

.search-box{
	margin-top:10px;
}

.parent-list{
	margin-top: 20px;
}

.go-btn{
  width: 60px;
  background: linear-gradient( #6facd5, #497bae);
  display: block;
  height: 31px;
  line-height: 31px;
  text-align: center;
  color: #ffffff !important;
  margin-left: 95%;
  margin-top: -36px;
  z-index: 10000;
  border-radius: 8px;
}

#home-page .ui-input-text{
	width: 93%;
}

#home-page-register .ui-input-text{
	width: 98%;
}

#home-page-tap{
	margin-bottom: 20px;
	margin-top: 20px;
}


#loadingText{
	font-size: 20px;
	text-align: center;
	color: white;
	left: 40%;
	top: 40%;
	position: fixed;
}	
/*Loading Glass*/
#loadingImage{
	top: 45%;
	left: 45%;
	position: fixed;}
.loadingClass{
	left: 20%;
	position: fixed;
	top: 36%;
	/* fallback */
	background-color: #063053;
	/* chrome 2+, safari 4+; multiple color stops */
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.32, #063053
		), color-stop(0.66, #395873), color-stop(0.83, #5c7c99) );
	/* chrome 10+, safari 5.1+ */
	background-image: -webkit-linear-gradient(#063053, #395873, #5c7c99);
	/* firefox; multiple color stops */
	background-image: -moz-linear-gradient(top, #063053, #395873, #5c7c99);
	/* ie 6+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#063053',
		endColorstr='#395873' );
	/* ie8 + */
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr='#063053', endColorstr='#395873')";
	/* ie10 */
	background-image: -ms-linear-gradient(#063053, #395873, #5c7c99);
	/* opera 11.1 */
	background-image: -o-linear-gradient(#063053, #395873, #5c7c99);
	/* The "standard" */
	background-image: linear-gradient(#063053, #395873, #5c7c99);
	border: 2pt solid white;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: -5px 15px 15px -5px #888888;
}

@media screen and (max-width: 720px) {
	.child-99 {
		width: 96%;
	}
	.child-70 {
		width: 75%;
		display: inline-block;
		line-height: 40px;
	}
	.child-30 {
		width: -1%;
		display: inline-block;
		line-height: 40px;
	}
	.moredetail-child .child-50, .moredetail-child .child-70, .moredetail-child .child-30 {
		min-height: 20px;
	}
	#home-page .ui-input-text{
	width: 78%;
}


.go-btn{
  width: 60px;
  background: red;
  display: block;
  height: 31px;
  line-height: 31px;
  text-align: center;
  margin-left: 84%;
  margin-top: -36px;
  z-index: 10000;
}

}